@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Baloo", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: #303a52;
}
