#game-play {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.score {
    height: 5rem;
    width: 18.75rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.grid {
    width: 18.75rem;
    margin: 0 auto;
    background-color: #ffffff;
}

.grid__cell {
    
    height: 6.25rem;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.grid__selected {
    background-color: aqua;
    -webkit-animation: flickerAnimation 2500ms infinite;
    -moz-animation: flickerAnimation 2500ms infinite;
    -o-animation: flickerAnimation 2500ms infinite;
    animation: flickerAnimation 2500ms infinite;
}
@keyframes flickerAnimation {
    0%   { opacity:1; }
    100% { opacity:0.2; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    100% { opacity:0.2; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    100% { opacity:0.2; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    100% { opacity:0.2; }
  }


.controls {
    width: 18.75rem;
    margin-top: 1rem;

}