/**
 * Style for Home scene
 */
#home {
    width: 100%;
    max-width: 35rem;
    min-height: 100vh;
    margin: 0 auto;
}

.logo {
    margin: 0 auto;
    padding: 3rem 3rem 1.5rem 3rem;
}

.play-nav {
    padding: 0 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-nav a {
    position: absolute;
}

.navs {
    padding: 1.5rem 4rem;
}

.footer-navs {
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

.footer-navs ul li {
    display: inline;
    padding-right: 1rem;
}