/**
 * Version 1 
 * ------------------
 * contain commmon style css
 * - Font 
 * - Base color
 * - Base icons
 * - Button
 */
body {
  background-color: #ffffff;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  min-height: 100vh;
}
