/**
 * Version 1 
 * ------------------
 * contain commmon style css
 * - Font 
 * - Base color
 * - Base icons
 * - Button
 */

/* load font source */
body {
  background-color: #f0f0f0;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}
.indicator-nav {
  background: #364f6b;
}
.btn-3d {
  box-shadow: 0 0.2em #18acb7;
  border-color: #18acb7;
  color: #18acb7;
}
.btn-3d-active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

.link-active:active {
  text-decoration: underline;
}
